.container1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}
.pro-img{
    height: 15rem;
}
.link-body{
    text-decoration: none;
    color: black;
}
.card{
    height: 30rem;
}