.container1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: darkblue;
}
.pro-img{
    height: 15rem;
}
.link-body{
    text-decoration: none;
    color: white;
}
.card{
    height: 30rem;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: lightpink;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: skyblue;
}