.cont{
    margin: 2rem;
}
.pro-card{
    border-radius: 6px;
    box-shadow: 2px 2px 9px 2px grey;
    padding: 2rem;
    transition: .3s ease-out;
    height: fit-content;
    margin-bottom: 1.5rem;
}
.pro-card:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.ord-card{
    border-radius: 6px;
    box-shadow: 2px 2px 9px 2px grey;
    padding: 2rem;
    transition: .3s ease-out;
    height: fit-content;
}
.save-card{
    border-radius: 6px;
    box-shadow: 2px 2px 9px 2px grey;
    padding: 2rem;
    transition: .3s ease-out;
    height: fit-content;
}
.User-Profile{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-image: url("../../Assets/UserProfile.avif");
    background-size: cover;
    
}