.Admin-Nbar{
    height: 100vh;
}
.Admin-profile{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-image: url("../../../Assets/Admin-User-Logo.jpg");
    background-size: cover;
}
.Admin-name{
    align-items: center;
    padding-left: 2rem;
    display: flex;
}