.cp-container{
    background: transparent;
    margin-bottom: 10rem;
    position: relative;
    top: -40rem;
    backdrop-filter: blur(6px);
    max-width: 55rem;
    left: 20rem;
}
.change-pass{
    background-image: url('../../../Assets/AdminPage-bg.jpg');
    background-size: cover;
    height: 100vh;
}